{% extends 'includes/modal_user_base.html' %}

{% block id %} id="Modal-Register" {% endblock %}

{% block title %} <h1> Register </h1> {% endblock %}

{% block content %}
            {{ form_register.hidden_tag() }}

            {{ form_register.username.label() }}
            {{ form_register.username(class="form-control", placeholder="User Name") }}

            {{ form_register.email_address.label() }}
            {{ form_register.email_address(class="form-control", placeholder="Email Address") }}

            {{ form_register.password1.label() }}
            {{ form_register.password1(class="form-control", placeholder="Password") }}

            {{ form_register.password2.label() }}
            {{ form_register.password2(class="form-control", placeholder="Confirm Password") }}

            <div class="checkbox mb-3">
               <h6>Do you have an account?</h6>
               <a class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Go back</a>
            </div>
            {{ form_register.submit(class="nav-button") }}
{% endblock %}