{% extends 'includes/modal_user_base.html' %}

{% block id %} id="Modal-Login" {% endblock %}

{% block title %} <h1> Login </h1> {% endblock %}

{% block content %}

            {{ form_login.hidden_tag() }}
            {{ form_login.username.label() }}
            {{ form_login.username(class="form-control", placeholder="User Name") }}

            {{ form_login.password.label() }}
            {{ form_login.password(class="form-control", placeholder="Password") }}


            <div class="checkbox mb-3">
               <h6>Do not have an account?</h6>
               <a class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#Modal-Register">Register</a>
            </div>

            {{ form_login.submit(class="nav-button") }}

{% endblock %}