{% extends 'base_main_page.html' %}


{% block content %}
  <h1>ExoticShop</h1>

<div class="shop-panel">
    <div class="images-container">
      {% for item in items %}
        <div class="image-box">
          <img src="{{ url_for('static', filename='images/img_example.png') }}" alt="Image {{ item.name }}">
          <div class="container-info">
          <div class="p-3">
          <p class="mt-2 mb-1">{{ item.name }}</p>
          <p class="mt-1 mb-1">Price: {{ item.price }}$</p>
          </div>
            <form action="{{ url_for('buy_item', item_id=item.id) }}" method="POST">
              <button type="submit" class="nav-button">Buy</button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
</div>

{% endblock %}
