<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
      <h1>Exotic shop</h1>
      <h2>Witaj wybierz czynność:</h2>
      <img src="{{ url_for('static', filename='images/Palm.png') }}" alt="Palm" class="palm-img">
      <nav>
        <a href="{{ url_for('login') }}" class="nav-button">Login</a>
      </nav>
      <nav>
        <a href="{{ url_for('register') }}" class="nav-button">Register</a>
      </nav>

    <footer>
      <a href="index.html" class="nav-reff">About us</a>
      <a href="index.html" class="nav-reff">Contact</a>
      <a href="index.html" class="nav-reff">FAQ</a>
    </footer>
  </div>
</body>
</html>