<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
      <h1>What's on your mind?</h1>
      <img src="{{ url_for('static', filename='images/Palm.png') }}" alt="Palm" class="palm-img">
      <nav>
        <a href="{{ url_for('login') }}" class="nav-button">Login</a>
      </nav>

  </div>
</body>
</html>